.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

  .centered-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:170px auto;
    
  }

